node_modules
dist
.env
.git
uploads
npm-debug.log
Dockerfile*



$env:PROJECT_ID="iron-decorator-484721-g9"
$env:REGION="southamerica-east1"
$env:SERVICE="loss-control-api"
$env:JOB="loss-control-migrate"
$env:REPO="loss-control"
$env:INSTANCE_CONNECTION_NAME="iron-decorator-484721-g9:southamerica-east1: loss-control-db"
$env:SERVICE_ACCOUNT="loss-control-api-sa@$env:iron-decorator-484721-g9.iam.gserviceaccount.com"
$env:IMAGE="$env:REGION-docker.pkg.dev/$env:iron-decorator-484721-g9/$env:REPO/$env:SERVICE:$(git rev-parse --short HEAD)"